<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <title>ホームページ制作会社　GoodView</title>
  </head>
  <body>
	<nav class="top_nav">
		<%= image_tag 'top/logo.png' %>
   </nav>
    <div id="main">
		<main role="main">
			<div class="mvChild">
				<div class="mvChildIn  thanks_mv">
					<p class="mvChildTitEn">CONTACT</p>
					<h1 class="mvChildTitJa">送信が完了いたしました！</h1>
				</div>
        
		    </div>
				<!-- /.mvChild -->	
			<div class="breadcrumbWrap">
			</div>
			<!-- /#breadcrumb -->
		　<section class="contact thanks" id="Contact">
          <%# <h2>送信が完了いたしました！</h2> %>
          <p>お問い合わせいただきありがとうございます。</p>
          <p>24時間以内にご登録のメールアドレスにご連絡をいたします！<br>引き続きどうぞよろしくお願いいたします。</p>
      </section>
      <!-- /.quality -->
    </main>
    </div>
    <footer>

    </footer>
  </body>
</html>
